:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --colour-white: hsl(0, 0%, 100%);
    --colour-slate-300: hsl(212, 45%, 89%);
    --colour-slate-500: hsl(216, 15%, 48%);
    --colour-slate-900: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--colour-slate-300);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 1.1em;
    background-color: var(--colour-white);
    border-radius: 1em;
    max-width: 320px;
    padding: 1em 1em 2em;
    /*box-shadow: 0 0 1em var(--colour-slate-500);*/
    color: var(--colour-slate-900);
}

.card img {
    width: 100%;
    border-radius: 1em;
}

.card h2,p {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.card h2 {
    font-size: 1.4em;
}

@media screen and(width >= 375px) {
    .card {
    }
}